<nz-descriptions *ngIf="user" [nzTitle]="'admin.profile.general.title' | translate" nzBordered nzLayout="vertical">
  <nz-descriptions-item [nzTitle]="'admin.profile.general.email' | translate">{{user?.email}}</nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="'admin.profile.general.firstname' | translate">{{user?.first_name}}</nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="'admin.profile.general.lastname' | translate">{{user?.last_name}}</nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="'admin.profile.general.isadmin' | translate">
    <label class="checkbox" nz-checkbox disabled="true" [ngModel]="user?.is_admin"></label>
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="'admin.profile.general.issuperuser' | translate">
    <label class="checkbox" nz-checkbox disabled="true" [ngModel]="user?.is_superuser"></label>
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="'admin.profile.general.role' | translate">
    {{user?.uuid_role}}
  </nz-descriptions-item>
  <nz-descriptions-item [nzTitle]="'admin.profile.general.mention' | translate">
    {{user?.uuid_mention}}
  </nz-descriptions-item>
  
</nz-descriptions>
