<nz-layout class="inner-layout">

  <nz-sider 
    nzWidth="250px" 
    nzTheme="light"
    *ngIf="showSider"
    class="sider"
    nzCollapsible
    [nzCollapsible]="collapsible"
    [(nzCollapsed)]="collapsed">
    <nz-content class="sider-content">
      <ul nz-menu nzMode="inline">

        <ng-container *ngFor="let item of menu">
          
          <li
            nz-menu-item
            *ngIf="!item.children"
            [nzSelected]="checkSelected(item)"
            [nzTooltipTitle]="collapsed ? (item?.title || '' | translate) : null"
            nzTooltipPlacement="left"
            nz-tooltip
          >
            <i nz-icon *ngIf="item.icon" [nzType]="item.icon" class="icon-menu"></i>
            <span
              ><a [routerLink]="item.route" [fragment]="item.fragment">{{
                item.title | translate
              }}</a></span
            >
          </li>
          <li
            *ngIf="item.children"
            nz-submenu
            [nzTitle]="item.title | translate"
            [nzIcon]="item.icon || null"
            [nzOpen]="false"
            [nzTooltipTitle]="collapsed ? (item?.title || '' | translate) : null"
            nzTooltipPlacement="left"
            nz-tooltip
          >
            <ul nz-menu [nzSelectable]="false">
              <ng-container *ngFor="let child of item.children">
                <li *ngIf="!child.children" nz-menu-item [nzSelected]="checkSelected(child)">
                  
                  <i nz-icon *ngIf="child.icon" [nzType]="child.icon" class="icon-menu"></i>
                  <span>
                  <a [routerLink]="child.route" [fragment]="child.fragment">
                    {{ child.title | translate }}
                  </a></span>
                  
                </li>
                <li
                  *ngIf="child.children"
                  nz-submenu
                  [nzTitle]="child.title | translate"
                  [nzOpen]="false"
                >
                  <ul nz-menu [nzSelectable]="false">
                    <li
                      *ngFor="let grandChild of child.children"
                      nz-menu-item
                      [routerLink]="grandChild.route"
                      [fragment]="grandChild.fragment"
                      [nzSelected]="checkSelected(grandChild)"
                    >
                      <a [routerLink]="grandChild.route" [fragment]="grandChild.fragment">
                        {{ grandChild.title | translate }}
                      </a>
                    </li>
                  </ul>
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ul>
    </nz-content>
  </nz-sider>
  
  <nz-content class="inner-content">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
