<form nz-form [formGroup]="form" class="form"  nzLayout="vertical">
      <div nz-row>
        <nz-form-item nz-col nzSpan="3">
          <nz-form-label>
            {{ 'admin.home.college_year.title' | translate }}
          </nz-form-label>
          <nz-form-control >
            <nz-input-group>
              <nz-select
                  [ngModel]="data"
                  formControlName="collegeYear"
                  [nzPlaceHolder]="'admin.home.college_year.title' | translate"
                  (ngModelChange)="getAllStudents()"
                  style="width: 100%;"
                  >
                  <nz-option *ngFor="let item of allYears"
                      [nzLabel]="item.title"
                      [nzValue]="item.title"
                  >
                  </nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div nz-col nzSpan="1"></div>
        <nz-form-item nz-col nzSpan="6">
          <nz-form-label>
            {{ 'admin.home.mention.title' | translate }}
          </nz-form-label>
          <nz-form-control [nzErrorTip]="'admin.student.champ_error' | translate">
              <nz-select
                  nzAllowClear
                  formControlName="mention"
                  [nzPlaceHolder]="'admin.home.mention.title' | translate"
                  >
                  <nz-option *ngFor="let item of allMention"
                      [nzLabel]="item.title"
                      [nzValue]="item.uuid"
                  >
                  </nz-option>
              </nz-select>
          </nz-form-control>
        </nz-form-item>
        <div nz-col nzSpan="1"></div>
        <nz-form-item nz-col nzSpan="4">
          <nz-form-label>
            {{ 'admin.student.level' | translate }}
          </nz-form-label>
          <nz-form-control [nzErrorTip]="'admin.student.champ_error' | translate">
              <nz-select
                  nzAllowClear
                  formControlName="level"
                  [nzPlaceHolder]="'admin.student.level' | translate"
                  (ngModelChange)="changeLevel()"
                  >
                  <nz-option *ngFor="let item of typelevel"
                      [nzLabel]="item.label"
                      [nzValue]="item.value"
                  >
                  </nz-option>
              </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
</form>
<app-datatable-crud
*ngIf="isLoading"
[title]="'admin.user.inscription.title' | translate"
[headers]="headers"
[fetchDataFn]="fetchData"
[width]="500"
[actions]="actions"
(delete)="onDelete($event)"
(edit)="onEdit($event)"
(add)="onAdd()"
[showPagination]="true"
classNames="table"
></app-datatable-crud>
