<form nz-form [formGroup]="form" class="form"  nzLayout="vertical">
    <div class="header-title" nz-row>
        <nz-form-item>
            <nz-form-label>
              {{ 'admin.home.college_year.title' | translate }}
            </nz-form-label>
            <nz-form-control >
              <nz-input-group>
                <nz-select
                    [ngModel]="data"
                    formControlName="collegeYear"
                    [nzPlaceHolder]="'admin.home.college_year.title' | translate"
                    (ngModelChange)="getAllStudents()"
                    >
                    <nz-option *ngFor="let item of allYears"
                        [nzLabel]="item.title"
                        [nzValue]="item.title"
                    >
                    </nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label style="margin-left: 30px;">
              {{ 'admin.home.mention.title' | translate }}
            </nz-form-label>
            <nz-form-control >
              <nz-input-group>
                <nz-select style="margin-left: 30px;"
                    [ngModel]="data"
                    formControlName="mention"
                    [nzPlaceHolder]="'admin.home.mention.title' | translate"
                    (ngModelChange)="getAllStudents()"
                    >
                    <nz-option *ngFor="let item of allMention"
                        [nzLabel]="item.title"
                        [nzValue]="item.uuid"
                    >
                    </nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

      </div>
  <div class="header">
    <nz-select
      [ngModel]="data"
      formControlName="filter"
      [nzPlaceHolder]="'admin.home.note.filter' | translate"
      (ngModelChange)="changeFilter()"
      [nzAllowClear]="true"
      style="width:60% ;"
    >
    <nz-option *ngFor="let item of allJourney"
        [nzLabel]="item.abbreviation"
        [nzValue]="item.uuid"
    >
    </nz-option>
  </nz-select>
    <div class="header-text">
        <h3>
            {{'admin.home.note.title' | translate }}</h3>
    </div>
    <div class="button-text">
        <button nz-button nzType="primary" (click)="addStudent()">
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            {{'admin.user.create' | translate | uppercase}}
        </button>
    </div>
  </div>
</form>
<app-datatable-crud
[title]="'admin.product.product_list.title' | translate"
[headers]="headers"
[fetchDataFn]="fetchData"
[width]="500"
[actions]="actions"
(delete)="onDelete($event)"
(edit)="onEdit($event)"
(add)="onAdd()"
classNames="product-list-table"
></app-datatable-crud>
