<nz-table
  #table
  [nzBordered]="true"
  nzShowSizeChanger
  [nzData]="data"
  [nzScroll]="{ x: width + 'px'}"
  [nzLoading]="loading"
  nzSize="small"
  [nzFrontPagination]="false"
  [nzShowPagination]="showPagination"
  [nzTotal]="total"
  [nzShowTotal]="totalTemplate"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  [class]="classNames"
  [nzFooter]="messageTemplate"
  (nzQueryParams)="queryParamsChange.emit($event)"
>
  <thead>
    <tr style="user-select: none">
      <th *ngIf="isSelectable" nzWidth="50px"></th>
      <th *ngIf="childrenDataHeader.length > 0" nzWidth="60px"></th>
      <th
        *ngFor="let header of headers; trackBy: trackByIdSelector"
        [nzRight]="header.type === TableHeaderType.ACTION || header.type === TableHeaderType.RIGHT"
        [nzLeft]="header.type === TableHeaderType.LEFT"
        [nzWidth]="header.width ? header.width : null"
        [nzColumnKey]="header.selector"
        [colSpan]="header.colspan ? header.colspan : 1"
        [rowSpan]="header.rowspan ? header.rowspan : 1"
        [nzSortFn]="header.isSortable || null"
        [nzShowSort]="header.isSortable"
      >
        {{ header.title | translate }}
      </th>
    </tr>

    <tr *ngIf="headerSpan.length > 0">
      <th *ngIf="childrenDataHeader.length > 0" nzWidth="60px"></th>
      <th
        *ngFor="let header of headerSpan; trackBy: trackByIdSelector"
        [nzRight]="header.type === TableHeaderType.ACTION || header.type === TableHeaderType.RIGHT"
        [nzLeft]="header.type === TableHeaderType.LEFT"
        [nzWidth]="header.width ? header.width : null"
        [nzColumnKey]="header.selector"
        [colSpan]="header.colspan ? header.colspan : 1"
        [rowSpan]="header.rowspan ? header.rowspan : 1"
        [nzSortFn]="header.isSortable || null"
        [nzShowSort]="header.isSortable"
      >
        {{ header.title | translate }}
      </th>
    </tr>
  </thead>

  <tbody>
    <ng-template ngFor let-row [ngForOf]="table.data">
      <tr>
        <td *ngIf="childrenDataHeader.length > 0" [(nzExpand)]="row.expand"></td>
        <td
          *ngIf="isSelectable"
          [nzChecked]="+row[idSelector] === selectedId"
          (nzCheckedChange)="onItemChecked(+row[idSelector], $event)"
        ></td>
        <ng-container *ngIf="headerData.length > 0">
          <td
            *ngFor="let header of headerData" 
            [nzRight]="header.type === TableHeaderType.ACTION || header.type === TableHeaderType.RIGHT"
            [nzLeft]="header.type === TableHeaderType.LEFT"
            [style]="header.style"
          >
            <ng-container *ngIf="header.template">
              <ng-container
                *ngTemplateOutlet="
                  header.template;
                  context: { value: row[header.selector], row: row }
                "
              ></ng-container>
            </ng-container>

            <ng-container *ngIf="!header.template">
              <ng-container *ngIf="!header.btnType; else templateBtn">
                  <ng-container *ngIf="!editCache[row.num_carte].edit; else editTemplate1">
                     {{
                      (row[header.selector] !== null
                        ? header.formatter
                          ? header.formatter(getValue(row, header.selector))
                          : getValue(row, header.selector)
                        : '-'
                      ) | translate
                    }}
                  </ng-container>
                <ng-template #editTemplate1>
                  <ng-container *ngIf="header.editable; else editTemplate">
                    <input type="number" nz-input [(ngModel)]="row[header.selector]" [min]="0" [max]="20" />
                  </ng-container>
                  <ng-template #editTemplate
                    >{{
                      (row[header.selector] !== null
                        ? header.formatter
                          ? header.formatter(getValue(row, header.selector))
                          : getValue(row, header.selector)
                        : '-'
                      ) | translate
                    }}
                  </ng-template>
                </ng-template>
              </ng-container>
              <ng-template #templateBtn>
                <ng-container *ngIf="!editCache[row.num_carte].edit; else editTemplate1">
                  <button

                    *ngIf="permissionNote "
                    nz-button
                    nzType="text"
                    nzShape="circle"
                    nzSize="small"
                    nz-tooltip
                    [nzTooltipTitle]="'edit' | translate"
                  >
                    <i
                      nz-icon
                      nzType="edit"
                      nzTheme="outline"
                      style="color: #398edf"
                      (click)="onEdit(row.num_carte)"
                    ></i>
                  </button>
                  <button
                    nz-button
                    nzType="text"
                    nzShape="circle"
                    nzSize="small"
                    nz-tooltip
                    [nzTooltipTitle]="'edit' | translate"
                  >
                    <i
                      nz-icon
                      nzType="eye"
                      nzTheme="outline"
                      style="color: #000"
                      (click)="onView(row.num_carte)"
                    ></i>
                  </button>
                </ng-container>

                <ng-template #editTemplate1>
                  <button
                    nz-button
                    nzType="text"
                    nzShape="circle"
                    nzSize="small"
                    nz-tooltip
                    [nzTooltipTitle]="'save' | translate"
                  >
                    <i
                      nz-icon
                      nzType="save"
                      nzTheme="outline"
                      style="color: #398edf"
                      (click)="savedEdit(row)"
                    ></i>
                  </button>
                  <button
                    nz-button
                    nzType="text"
                    nzShape="circle"
                    nzSize="small"
                    nz-tooltip
                    [nzTooltipTitle]="'cancel' | translate"
                  >
                    <i
                      nz-icon
                      nzType="close"
                      nzTheme="outline"
                      style="color: #df3939"
                      (click)="cancEdit(row.num_carte)"
                    ></i>
                  </button>
                </ng-template>
              </ng-template>
            </ng-container>
          </td>
        </ng-container>

        <ng-container *ngIf="headerData.length === 0">
          <td
            *ngFor="let header of headers"
            [nzRight]="header.type === TableHeaderType.ACTION || header.type === TableHeaderType.RIGHT"
            [nzLeft]="header.type === TableHeaderType.LEFT"
            [style]="header.style"
          >
            <ng-container *ngIf="header.template">
              <ng-container
                *ngTemplateOutlet="
                  header.template;
                  context: { value: row[header.selector], row: row }
                "
              ></ng-container>
            </ng-container>
            <ng-container *ngIf="!header.template">
              {{
                (row[header.selector] !== null
                  ? header.formatter
                    ? header.formatter(getValue(row, header.selector))
                    : getValue(row, header.selector)
                  : '-'
                ) | translate
              }}
            </ng-container>
          </td>
        </ng-container>
      </tr>
    </ng-template>
    <div style="height: 4px"></div>
  </tbody>
</nz-table>
<ng-template #totalTemplate let-total>
  {{ 'total' | translate }}: {{ total }} {{ 'items' | translate }}
</ng-template>

<ng-template #messageTemplate>
   {{ message }} 
</ng-template>
