<nz-layout class="container">
      <nz-page-header nzBackIcon [nzGhost]="false" style="background-color: #001529;" nzTheme="dark">
        <nz-page-header-title> <p> Université de Fianarantsoa</p></nz-page-header-title>
        <nz-page-header-subtitle>  <p>Faculté des sciences</p></nz-page-header-subtitle>
        <nz-page-header-extra>
          <div nz-col nzFlex="auto">
            <div class="right-menu">
              <app-notification-dropdown></app-notification-dropdown>
              <app-language-select></app-language-select>
              <app-profil-dropdown></app-profil-dropdown>
            </div>
          </div>
        </nz-page-header-extra>
        <nz-page-header-content>
        </nz-page-header-content>
      </nz-page-header>
  <nz-content class="outer-content">
    <div>
      <xng-breadcrumb>
        <ng-container *xngBreadcrumbItem="let breadcrumb">
          <ng-container>{{ breadcrumb | translate | titlecase }}</ng-container>
        </ng-container>
      </xng-breadcrumb>
    </div>
    <div style="padding: 16px 0px; flex: 1">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>{{ config.footerCopyright }}</nz-footer>
</nz-layout>
<nz-drawer
  [nzClosable]="true"
  [nzVisible]="drawerVisible"
  [nzBodyStyle]="drawerBodyStyle"
  (nzOnClose)="closeDrawer()"
  nzPlacement="left"
  nzTitle="Menu"
>
  <ng-container *nzDrawerContent>
    <app-menu mode="inline" (closeDrawer)="closeDrawer()"></app-menu>
  </ng-container>
</nz-drawer>
