
  <app-datatable-crud
  [title]="'admin.home.classroom.title' | translate"
  [headers]="headers"
  [fetchDataFn]="fetchData"
  [width]="500"
  [actions]="actions"
  (delete)="onDelete($event)"
  (edit)="onEdit($event)"
  (add)="onAdd()"
  classNames="table"
  ></app-datatable-crud>

    <nz-modal [(nzVisible)]="isvisible" 
              nzTitle="{{'admin.home.classroom.add_classroom' | translate}}" 
              (nzOnCancel)="handleCancel()" 
              nzMask="true"
              nzMaskClosable="false" >
    <div *nzModalContent>
        <form nz-form [formGroup]="form" class="form_years" (ngSubmit)="submitForm()" nzLayout="vertical">
            <nz-form-item>
              <nz-form-label nzRequired>
                {{ 'admin.home.classroom.title' | translate }}
              </nz-form-label>
              <nz-form-control [nzErrorTip]="'admin.home.value_error' | translate">
                <nz-input-group>
                  <input type="text" nz-input formControlName="name" appCustomAutoFocus
                    [placeholder]="'admin.home.classroom.title' | translate" />
                </nz-input-group>
              </nz-form-control>

            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired>
                  {{ 'admin.home.classroom.capacity' | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="'admin.home.value_error' | translate">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="capacity" appCustomAutoFocus
                      [placeholder]="'admin.home.classroom.capacity' | translate" />
                  </nz-input-group>
                </nz-form-control>
  
              </nz-form-item>

            <nz-spin [nzSpinning]="isConfirmLoading">
                <button nz-button class="form-button form-margin" [nzType]="'primary'">
                  {{'general_data.save' | translate | uppercase}}
                </button>
            </nz-spin>

      </form>
    </div>
    
    <div *nzModalFooter>
        </div>
    </nz-modal>