
  <app-datatable-crud
  [title]="'admin.home.ue.title' | translate"
  [headers]="headers"
  [fetchDataFn]="fetchData"
  [width]="500"
  [actions]="actions"
  (delete)="onDelete($event)"
  (edit)="onEdit($event)"
  (add)="onAdd()"
  classNames="table"
  ></app-datatable-crud>

    <nz-modal [(nzVisible)]="isvisible" 
              nzTitle="{{'admin.home.journey.add_journey' | translate}}" 
              (nzOnCancel)="handleCancel()" 
              nzMask="true"
              nzMaskClosable="false" >
    <div *nzModalContent>
        <form nz-form [formGroup]="form" class="form_years" (ngSubmit)="submitForm()" nzLayout="vertical">
            <nz-form-item>
              <nz-form-label nzRequired>
                {{ 'admin.home.ue.title' | translate }}
              </nz-form-label>
              <nz-form-control [nzErrorTip]="'admin.home.ue.title_error' | translate">
                <nz-input-group>
                  <input type="text" nz-input formControlName="title" appCustomAutoFocus [disabled]="true"
                    [placeholder]="'admin.home.ue.title' | translate" />
                </nz-input-group>
              </nz-form-control>

            </nz-form-item>
            
            <nz-form-item>
                <nz-form-label nzRequired>
                  {{ 'admin.home.ue.credit' | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="'admin.home.ue.credit_error' | translate">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="credit" appCustomAutoFocus
                      [placeholder]="'admin.home.ue.credit' | translate" />
                  </nz-input-group>
            </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired>
                  {{ 'admin.home.mention.title' | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="'admin.home.mention.title_error' | translate">
                  <nz-input-group>
                    <nz-select  style="width: 100%;"
                        formControlName="mention"
                        [nzPlaceHolder]="'admin.home.mention.title' | translate"
                        (ngModelChange)="getAllJourney()"
                        [nzDisabled]="isEdit"
                        >
                        <nz-option *ngFor="let item of allMention"
                            [nzLabel]="item.title"
                            [nzValue]="item.uuid"
                        >
                        </nz-option>
                    </nz-select>
                  </nz-input-group>
                  </nz-form-control>
                </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired>
                  {{ 'admin.home.journey.title' | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="'admin.home.journey.title_error' | translate">
                  <nz-input-group>
                    <nz-select  style="width: 100%;"
                        formControlName="journey"
                        [nzPlaceHolder]="'admin.home.journey.title' | translate"
                        [nzDisabled]="isEdit"
                        >
                        <nz-option *ngFor="let item of allJourney"
                            [nzLabel]="item.title"
                            [nzValue]="item.uuid"
                        >
                        </nz-option>
                    </nz-select>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired>
                  {{ 'admin.home.journey.semester' | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="'admin.home.journey.semester_error' | translate">
                    <nz-input-group>
                        <nz-select  style="width: 100%;"
                            formControlName="semester"
                            [nzPlaceHolder]="'admin.home.journey.semester' | translate"
                            [nzDisabled]="isEdit"
                            >
                            <nz-option *ngFor="let item of listOfSemester"
                                [nzLabel]="item"
                                [nzValue]="item"
                            >
                            </nz-option>
                        </nz-select>
                    </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            <nz-spin [nzSpinning]="isConfirmLoading">
                <button nz-button class="form-button form-margin" [nzType]="'primary'">
                  {{'general_data.save' | translate | uppercase}}
                </button>
            </nz-spin>

      </form>
    </div>
    
    <div *nzModalFooter>
        </div>
    </nz-modal>