
<form nz-form [formGroup]="form" class="form" (ngSubmit)="submitForm()" nzLayout="vertical">
  <div class="years">
    <nz-form-item>
        <nz-form-label>
          {{ 'admin.home.college_year.title' | translate }}
        </nz-form-label>
        <nz-form-control >
          <nz-input-group>
            <nz-select  style="width: 20%;"
                [ngModel]="data"
                formControlName="collegeYear"
                [nzPlaceHolder]="'admin.home.college_year.title' | translate"
                >
                <nz-option *ngFor="let item of allYears"
                    [nzLabel]="item.title"
                    [nzValue]="item.title"
                >
                </nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
</form>
  <div class="container" >
  <div class="header">
    <div class="header-text">
        <h3>Ue list</h3>
    </div>
    <div class="button-text">
        <button nz-button nzType="primary" (click)="showModal()">
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            Ajouter
        </button>
    </div>
  </div>
    <nz-table #ueList [nzData]="allUe" nzSize="small" [nzPageSize]="10" nzBordered [nzScroll]="{ x: 200 + 'px' }"> 
        <thead>
            <tr>
              <tr>
                <th *ngFor="let column of listOfColumns"
                [nzSortOrder]="column.sortOrder"
                [nzSortFn]="column.sortFn"
                [nzSortDirections]="column.sortDirections"
                [nzFilterMultiple]="column.filterMultiple"
                [nzFilters]="column.listOfFilter"
                [nzFilterFn]="column.filterFn"
                > 
              {{ column.name}}
            </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ueList.data">
                <td> {{data.title}}</td>
                <td> {{data.journey.abbreviation}}</td>
                <td> {{data.semester}}</td>
                <td> {{data.credit}}</td>
                <td>
                    <a nz-icon nzType="edit" nzTheme="fill" style="font-size: 20px; color: green;"  (click)="showModalEdit(data.uuid)"></a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-icon nzType="delete" nzTheme="fill" style="font-size: 20px; color: red;" (click)="showConfirm(data.title, data.uuid)"></a>
                </td>
                
            </tr>
        </tbody>
    </nz-table>
    <nz-modal [(nzVisible)]="isvisible" 
              nzTitle="{{'admin.home.journey.add_journey' | translate}}" 
              (nzOnCancel)="handleCancel()" 
              nzMask="true"
              nzMaskClosable="false" >
    <div *nzModalContent>
        <form nz-form [formGroup]="form" class="form_years" (ngSubmit)="submitForm()" nzLayout="vertical">
            <nz-form-item>
              <nz-form-label nzRequired>
                {{ 'admin.home.ue.title' | translate }}
              </nz-form-label>
              <nz-form-control [nzErrorTip]="'admin.home.ue.title_error' | translate">
                <nz-input-group>
                  <input type="text" nz-input formControlName="title" appCustomAutoFocus [disabled]="true"
                    [placeholder]="'admin.home.ue.title' | translate" />
                </nz-input-group>
              </nz-form-control>

            </nz-form-item>
            
            <nz-form-item>
                <nz-form-label nzRequired>
                  {{ 'admin.home.ue.credit' | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="'admin.home.ue.credit_error' | translate">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="credit" appCustomAutoFocus
                      [placeholder]="'admin.home.ue.credit' | translate" />
                  </nz-input-group>
            </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired>
                  {{ 'admin.home.mention.title' | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="'admin.home.mention.title_error' | translate">
                  <nz-input-group>
                    <nz-select  style="width: 100%;"
                        [ngModel]="data"
                        formControlName="mention"
                        [nzPlaceHolder]="'admin.home.mention.title' | translate"
                        (ngModelChange)="getAllJourney()"
                        [nzDisabled]="isEdit"
                        >
                        <nz-option *ngFor="let item of allMention"
                            [nzLabel]="item.title"
                            [nzValue]="item.uuid"
                        >
                        </nz-option>
                    </nz-select>
                  </nz-input-group>
                  </nz-form-control>
                </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired>
                  {{ 'admin.home.journey.title' | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="'admin.home.journey.title_error' | translate">
                  <nz-input-group>
                    <nz-select  style="width: 100%;"
                        [ngModel]="data"
                        formControlName="journey"
                        [nzPlaceHolder]="'admin.home.journey.title' | translate"
                        [nzDisabled]="isEdit"
                        >
                        <nz-option *ngFor="let item of allJourney"
                            [nzLabel]="item.title"
                            [nzValue]="item.uuid"
                        >
                        </nz-option>
                    </nz-select>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired>
                  {{ 'admin.home.journey.semester' | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="'admin.home.journey.semester_error' | translate">
                    <nz-input-group>
                        <nz-select  style="width: 100%;"
                            formControlName="semester"
                            [nzPlaceHolder]="'admin.home.journey.semester' | translate"
                            [nzDisabled]="isEdit"
                            >
                            <nz-option *ngFor="let item of listOfSemester"
                                [nzLabel]="item"
                                [nzValue]="item"
                            >
                            </nz-option>
                        </nz-select>
                    </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            <nz-spin [nzSpinning]="isConfirmLoading">
                <button nz-button class="form-button form-margin" [nzType]="'primary'">
                  {{'general_data.save' | translate | uppercase}}
                </button>
            </nz-spin>

      </form>
    </div>
    
    <div *nzModalFooter>
        </div>
    </nz-modal>