<div class="container">
  <nz-badge [nzCount]="unreadNotification()" (click)="showNotificationDrawer()" >
    <button nz-button nzType="default">
      <i nz-icon nzType="bell" class="icon"></i>
    </button>
  </nz-badge>
  <nz-drawer
    [nzClosable]="false"
    [nzVisible]="notifcationsDrawerVisible"
    nzPlacement="right"
    (nzOnClose)="closeNotificationDrawer()"
    [nzWidth]="500"
    [nzBodyStyle]="{ padding: 0 }"
  >
    <ng-container *nzDrawerContent>
      <div class="title-header-parent">
        <h2>{{ 'components.notification_dropdown.notifications' | translate }}</h2>
      </div>
      <div class="content">
         <nz-list nzItemLayout="horizontal" >
      <nz-list-item *ngFor="let item of socketService.chatMessage">
        <ng-container *ngIf="item.is_ready; else notRead"> 
          <div class="readed-container" >
            <div class="text">
              <p class="email">{{'admin.notification.msg_from' | translate }}: {{item.email_from}}</p>
              <p class="message">{{ maxLenthText(item.message) }}</p>
            </div>
        </div>
        <div [ngTemplateOutlet]="btn"></div>
      </ng-container>
        <ng-template #notRead >
          <div class="inread-container">
            <div class="text">
              <p class="email">{{'admin.notification.msg_from' | translate }} :{{item.email_from}}</p>
              <p class="message">{{ maxLenthText(item.message) }}</p>
            </div>
          </div>
        <div [ngTemplateOutlet]="btn"></div>
        </ng-template>
        <ng-template #btn>
          <div class="button"> 
            <button
            class="btn"
            nzType="text"
            nzShape="circle"
            nz-tooltip
            (click)="deleteData(item.uuid)"
            [nzTooltipTitle]="'delete' | translate"
          >
            <i
              nz-icon
              nzType="delete"
              nzTheme="outline"
              style="color: #df3939"
            ></i>
          </button>
          <button
          class="btn"
          nzType="text"
          nzShape="circle"
          nz-tooltip
          [nzTooltipTitle]="'view' | translate"
          (click)="updateData(item.uuid)"
        >
          <i
            nz-icon
            nzType="eye"
            nzTheme="outline"
            style="color: #000"
          ></i>
        </button>
          </div>
        </ng-template>
      </nz-list-item>
      <nz-list-empty *ngIf="socketService.chatMessage.length === 0"></nz-list-empty>
    </nz-list>
    </div>
    </ng-container>
  </nz-drawer>
  <nz-modal 
      [(nzVisible)]="isvisible" 
      (nzOnCancel)="handleCancel()" 
      nzMask="true"
      nzMaskClosable="false">
  <div *nzModalContent>
    <div class="readed-container" >
      <div class="text">
        <p class="email">{{'admin.notification.msg_from'| translate }}: {{invitation.email_from }}</p>
        <p class="message">{{ invitation.message }}</p>
      </div>
      </div>
  </div>
  <div *nzModalFooter>
      </div>
</nz-modal>

</div>
