@import '/src/colors.less';

.top-content {
  display: flex;
  align-items: baseline;
  padding: 8px 0px;

  .search {
    flex: 1;
    padding: 2px 8px;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .back {
    font-size: 18px;
    color: @app-primary-color;
    &:hover {
      color: @app-primary-color;
      cursor: pointer;
    }
  }
}
h2 {
  margin-left: 12px;
  font-weight: bold;
}
.message{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  .text{
    width: 90%;
  }
  .button{
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
  }
}

::ng-deep {
  .ant-btn-primary{
    .button{
      background-color: #fff;
    }
  }
  .ant-btn-primary:hover{.button{
      background-color: #9a4545;
    }
  }
}
