<nz-alert nzCloseable nzType="warning" [nzDescription]="actionTemplate3" *ngIf="!permissionNote && isNote && !getPermission()" >
  <ng-template #actionTemplate3>
    <div class="message">
        <p> {{'admin.notification.not_permited' | translate}} <a (click)="onDemande()"> {{'admin.notification.link' | translate}}</a></p>
    </div>
  </ng-template>
</nz-alert>
    
<form nz-form [formGroup]="form" class="form" nzLayout="vertical">
<div class="top-content" *ngIf="actions.add || title">
  <span
    *ngIf="canBack"
    nz-icon
    nzType="arrow-left"
    nzTheme="outline"
    class="back"
    (click)="back()"
  ></span>
  <h2>{{ title }}</h2>
  <div class="search" >
    <ng-container *ngIf="searchTemplate">
      <ng-container *ngTemplateOutlet="searchTemplate"></ng-container>
    </ng-container>
    <div *ngIf="isNote">
    <nz-select
        *ngIf="permission && !isVisible"
        [ngModel]="'Credit'"
        formControlName="filter"
        [nzPlaceHolder]="'admin.home.note.filter' | translate"
        (ngModelChange)="changeFilter()"
        [nzAllowClear]="true"
        style="width: 20%;"
        >
        <nz-option *ngFor="let item of listOfFilter"
            [nzLabel]="item"
            [nzValue]="item"
        >
        </nz-option>
      </nz-select>
      <nz-input-number
        *ngIf="permission && !isVisible"
        [nzPrecision]="3"
        [ngModel]="10"
        formControlName="meanCredit"
        [nzMin]="0"
        [nzMax]="30"
        >
      </nz-input-number>
      <button nz-button nzType="primary" (click)="filterSup()" *ngIf="permission && !isVisible "
          nz-tooltip
          nzTooltipTitle="{{'admin.toolpit.sup' | translate}}">
        <span nz-icon nzType="caret-up" nzTheme="outline"></span>
      </button>
      <button nz-button nzType="primary" (click)="filterInf()" *ngIf="permission && !isVisible "
          nz-tooltip
          nzTooltipTitle="{{'admin.toolpit.inf' | translate}}">
        <span nz-icon nzType="caret-down" nzTheme="outline"></span>
      </button>

      <label *ngIf="permission && isVisible ">UE: </label>
      <nz-select
        *ngIf="permission && isVisible"
        formControlName="matierUe"
        [nzPlaceHolder]="'admin.home.note.matier' | translate"
        (ngModelChange)="resetTableUe()"
        [nzAllowClear]="true"
        style="width: 20%;"
        >
        <nz-option *ngFor="let item of matierUe"
            [nzLabel]="item.title"
            [nzValue]="item.value"
        >
        </nz-option>
      </nz-select>

      <label *ngIf="permission && isVisible "> : </label>
      <button nz-button nzType="primary" (click)="compareNoteSupUe()" *ngIf="permission && isVisible "
          nz-tooltip
          nzTooltipTitle="{{'admin.toolpit.sup' | translate}}">
        <span nz-icon nzType="caret-up" nzTheme="outline"></span>
      </button>
      <label *ngIf="permission && isVisible "> | </label>
      <button nz-button nzType="primary" (click)="compareNoteInfUe()" *ngIf="permission && isVisible "
          nz-tooltip
          nzTooltipTitle="{{'admin.toolpit.inf' | translate}}">
        <span nz-icon nzType="caret-down" nzTheme="outline"></span>
      </button>
      <label *ngIf="permission && isVisible && isResult"> | </label>
      <button nz-button nzType="primary" (click)="resultat()" *ngIf="permission && isVisible && isResult"
          nz-tooltip
          nzTooltipTitle="{{'admin.toolpit.download' | translate:{result: result} }}">
        <span nz-icon nzType="download" nzTheme="outline"></span>
      </button>
      <label *ngIf="permission && isVisible "> {{'admin.home.note.or' | translate}} </label>
      <label *ngIf="permission && isVisible ">EC: </label>
      <nz-select
        *ngIf="permission && isVisible"
        formControlName="matierEc"
        [nzPlaceHolder]="'admin.home.note.matier' | translate"
        (ngModelChange)="resetTableEc()"
        [nzAllowClear]="true"
        style="width: 20%;"
        >
        <nz-option *ngFor="let item of matierEc"
            [nzLabel]="item.title"
            [nzValue]="item.value"
        >
        </nz-option>
      </nz-select>
      <label *ngIf="permission && isVisible "> : </label>
      <button nz-button nzType="primary" (click)="compareNoteSupEc()" *ngIf="permission && isVisible"
          nz-tooltip
          nzTooltipTitle="{{'admin.toolpit.sup' | translate}}">
        <span nz-icon nzType="caret-up" nzTheme="outline"></span>
      </button>
      <label *ngIf="permission && isVisible "> | </label>
      <button nz-button nzType="primary" (click)="compareNoteInfEc()" *ngIf="permission && isVisible "
          nz-tooltip
          nzTooltipTitle="{{'admin.toolpit.inf' | translate}}">
        <span nz-icon nzType="caret-down" nzTheme="outline"></span>
      </button>
      <label *ngIf="permission && isVisible && isRattrape"> | </label>
      <button nz-button nzType="primary" (click)="rattrapageList()" *ngIf="permission && isVisible && isRattrape"
          nz-tooltip
          nzTooltipTitle="{{'admin.toolpit.rattrapage' | translate}}">
        <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
      </button>
    </div>
  </div>
  <div class="actions">
    <button
      *ngIf="!isNote"
      nz-button
      nzType="primary"
      (click)="onAdd()"
      style="padding: 0px 16px"
    >
      <i nz-icon nzType="plus"></i>
      {{ 'add' | translate | titlecase }}
    </button>
    <button 
    *ngIf="actions.print"
    nz-button 
    nzType="primary" 
    (click)="onDownload()">
      <i nz-icon nzType="printer" nzTheme="outline"></i>
      {{ 'print' | translate | titlecase }}
  </button>

  <div  class="actions" *ngIf="isNote">
    <button nz-button nzType="primary" (click)="onCreateTable()" *ngIf="!permission"
    nz-tooltip
    nzTooltipTitle="{{'admin.toolpit.create' | translate}}">
      <span nz-icon nzType="table" nzTheme="outline" ></span>
    </button>
    <button nz-button nzType="primary" (click)="insertStudent()" *ngIf="!permission"
    nz-tooltip
    nzTooltipTitle="{{'admin.toolpit.add' | translate}}">
      <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
    </button>
    <button nz-button nzType="primary" (click)="setVisible()"  *ngIf="permission" 
        nz-tooltip
        nzTooltipTitle="{{'admin.toolpit.result' | translate}}">
      <span nz-icon nzType="ordered-list" nzTheme="outline"></span>
    </button>
    <button nz-button nzType="primary" (click)="onRefresh()" 
        nz-tooltip
        nzTooltipTitle="{{'admin.toolpit.refresh' | translate}}">
      <span nz-icon nzType="reload" nzTheme="outline"></span>
    </button>
    <button nz-button nzType="primary" (click)="onExamList()" *ngIf="permission" 
        nz-tooltip
        nzTooltipTitle="{{'admin.toolpit.list_examen' | translate}}">
      <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
    </button>
    <button nz-button nzType="primary" (click)="onDeleteTable()"  *ngIf="!permission" 
    nz-tooltip
    nzTooltipTitle="{{'admin.toolpit.list_examen' | translate}}">
      <span nz-icon nzType="delete" nzTheme="outline"></span>
    </button>
    </div>
  </div>
</div>
</form>
<app-datatable
  [tableId]="tableId"
  [headers]="headers"
  [headerSpan]="headerSpan"
  [headerData]="headerData"
  [data]="data"
  [dataStocks]="listOfData"
  [width]="width"
  [loading]="loading"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [idSelector]="'id'"
  [total]="total"
  [editCache]="editCache"
  [classNames]="classNames"
  [classExpand]="classExpand"
  [isSelectable]="isSelectable"
  [selectedId]="selectedId"
  [portList]="portList"
  (startEdit)="startEdit($event)"
  (saveEdit)="saveEdit($event)"
  [permissionNote]="permissionNote"
  (canceltEdit)="cancelEdit($event, data)"
  (search)="onSearch($event)"
  (viewNote)="onDetail($event)"
  [showPagination]="showPagination"
  [message]="message"
  (selectionChange)="onSelectionChange($event)"
  (queryParamsChange)="onQueryParamsChange($event)"
></app-datatable>

<ng-template #actionsTemplate let-row="row">
  <button
    *ngIf="!isDeletedRow(row) && actions.edit"
    nz-button
    nzType="text"
    nzShape="circle"
    nzSize="small"
    nz-tooltip
    [nzTooltipTitle]="'edit' | translate"
  >
    <i nz-icon nzType="edit" nzTheme="outline" style="color: #398edf" (click)="onEdit(row)"></i>
  </button>
  <button
    *ngIf="!isDeletedRow(row) && actions.delete"
    nz-button
    nzType="text"
    nzShape="circle"
    nzSize="small"
    nz-tooltip
    [nzTooltipTitle]="'delete' | translate"
  >
    <i nz-icon nzType="delete" nzTheme="outline" style="color: #eb2f96" (click)="onDelete(row)"></i>
  </button>
  <button
    *ngIf="!isDeletedRow(row) && actions.detail"
    nz-button
    nzType="text"
    nzShape="circle"
    nzSize="small"
    nz-tooltip
    [nzTooltipTitle]="'detail' | translate"
  >
    <i nz-icon nzType="eye" nzTheme="outline" (click)="onDetail(row)"></i>
  </button>
</ng-template>
