<app-datatable-crud
[title]="'admin.product.product_list.title' | translate"
[headers]="headers"
[fetchDataFn]="fetchData"
[width]="500"
[actions]="actions"
(delete)="onDelete($event)"
(edit)="onEdit($event)"
(add)="onAdd()"
classNames="product-list-table"
></app-datatable-crud>

    <nz-modal [(nzVisible)]="isvisible" 
              nzTitle="{{'admin.home.users.add_users' | translate}}" 
              (nzOnCancel)="handleCancel()" 
              nzMask="true"
              nzMaskClosable="false"
               >
    <div *nzModalContent>
        <form nz-form [formGroup]="form" class="form" (ngSubmit)="submitForm()" nzLayout="vertical">
            <nz-form-item>
              <nz-form-label nzRequired>
                {{ 'admin.home.users.email' | translate }}
              </nz-form-label>
              <nz-form-control [nzErrorTip]="'admin.home.users.email_error' | translate">
                <nz-input-group>
                  <input type="text" nz-input formControlName="email" appCustomAutoFocus
                    [placeholder]="'admin.home.users.email' | translate" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            
            <nz-form-item>
                <nz-form-label nzRequired>
                  {{ 'admin.home.users.password' | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="'admin.home.users.password_error' | translate">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="password" appCustomAutoFocus
                      [placeholder]="'admin.home.users.password' | translate" />
                  </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired>
                  {{ 'admin.profile.general.lastname' | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="'admin.profile.general.lastname_error' | translate">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="lastName" appCustomAutoFocus
                      [placeholder]="'admin.profile.general.lastname'| translate" />
                  </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzRequired>
                  {{ 'admin.profile.general.firstname' | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="'admin.profile.general.firstname_error' | translate">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="firstName" appCustomAutoFocus
                      [placeholder]="'admin.profile.general.firstname' | translate" />
                  </nz-input-group>
                </nz-form-control>
            </nz-form-item>
              
            <nz-form-item>
                <nz-form-label nzRequired>
                  {{ 'admin.profile.general.mention' | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="'admin.home.users.mention_error' | translate">
                  <nz-input-group>
                    <nz-select  style="width: 100%;"
                        nzMode="multiple"
                        formControlName="uuidMention"
                        [nzPlaceHolder]="'admin.profile.general.mention' | translate"
                        >
                        <nz-option *ngFor="let item of allMention"
                            [nzLabel]="item.title"
                            [nzValue]="item.uuid"
                        >
                        </nz-option>
                    </nz-select>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired>
                  {{ 'admin.profile.general.job' | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="'admin.home.role.role_error' | translate">
                    <nz-input-group>
                        <nz-select  style="width: 100%;"
                            formControlName="uuidRole"
                            [nzPlaceHolder]="'admin.profile.general.job' | translate"
                            >
                            <nz-option *ngFor="let item of allRole"
                                [nzLabel]="item.title"
                                [nzValue]="item.uuid"
                            >
                            </nz-option>
                        </nz-select>
                    </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-row>

              <nz-form-item>
                <nz-form-label nzRequired>
                    {{ 'admin.profile.general.isadmin' | translate }}
                  </nz-form-label>
                <nz-form-control>
                    <nz-input-group>
                        <nz-switch nz-col
                            formControlName="isAdmin"
                            [nzCheckedChildren]="checkedTemplate"
                            [nzUnCheckedChildren]="unCheckedTemplate"
                        >
                        </nz-switch>
                        <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
                        <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <div style="width: 20% ;"></div>
                <nz-form-item>
                    <nz-form-label nzRequired>
                        {{ 'admin.profile.general.isactive' | translate }}
                      </nz-form-label>
                    <nz-form-control>
                        <nz-input-group>
                            <nz-switch nz-col
                                formControlName="isActive"
                                [nzCheckedChildren]="checkedTemplate"
                                [nzUnCheckedChildren]="unCheckedTemplate"
                            >
                            </nz-switch>
                            <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
                            <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
              </nz-row>
            <nz-spin [nzSpinning]="isConfirmLoading">
                <button nz-button class="form-button form-margin" [nzType]="'primary'">
                  {{'general_data.save' | translate | uppercase}}
                </button>
            </nz-spin>
        </form>
    </div>
    <div *nzModalFooter>
        </div>
</nz-modal>