<ul nz-menu nzTheme="dark" [nzMode]="mode" routerLinkActive="active" class="header-menu">
  <li nz-menu-item [nzSelected]="router.routerState.snapshot.url === '/home'">
    <a routerLink="/home" (click)="closeDrawer && closeDrawer.emit()">
      <i nz-icon nzType="home" nzTheme="fill"></i>
      <span>{{ "home" | translate }}</span>
    </a>
  </li>
  <li nz-menu-item [nzSelected]="router.routerState.snapshot.url === '/about'">
    <a routerLink="/about" (click)="closeDrawer && closeDrawer.emit()">
      <i nz-icon nzType="question-circle" nzTheme="fill"></i>
      <span>{{ "about" | translate }}</span>
    </a>
  </li>
  <li nz-menu-item [nzSelected]="router.routerState.snapshot.url === '/upload'">
    <a routerLink="/upload" (click)="closeDrawer && closeDrawer.emit()">
      <i nz-icon nzType="upload" nzTheme="outline"></i>
      <span>{{ "upload" | translate }}</span>
    </a>
  </li>

</ul>