.container{
    align-content: center;
}
.header{
    justify-content: center;
    align-items: flex-end;
    display: flex;
    text-align: end;
    margin-bottom: 1rem;
}
.header-text{
    width: 70%;
    text-align: start;
    margin-bottom: 0px;
}
.button-text{
    width: 30%;
    text-align: end;
}
.form-margin {
    margin-bottom: 16px;
  }

.form-button {
    margin-top: 12px;
    width: 100%;
}
.select{
    width: 100%;
}
.header-title{
    width: auto;
}
.ant-table-measure-now {
    display: none;
  }
.containair-table{
    min-width: 50%;
}
.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 380px;
    text-align: center;
    padding: 10px;
  }

  .steps-action {
    margin-top: 5px;
  }

  button {
    margin-right: 8px;
  }

  .container {
    width: 90%;
    height: 30%;
    padding: 2rem;
    text-align: center;
    border: dashed 1px #979797;
    background-color: #f8f8f8;
    position: relative;
    margin: 0 auto;
    margin-bottom: 8px;
  
    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: #db202f;
      left: 0;
      cursor: pointer;
    }
  
    label {
      color: white;
      width: 183px;
      height: 44px;
      border-radius: 21.5px;
      background-color: #db202f;
      padding: 8px 16px;
    }
  
    .title-h3 {
      font-size: 20px;
      font-weight: 600;
      color: #38424c;
    }
    h3 {
        font-size: 20px;
        font-weight: 600;
        color: #c9c3c5;
      }
  }

  ::ng-deep {
    .note{
      thead.ant-table-thead th {
        text-align: center;
        font-weight: 200px;
      }
  
      thead.ant-table-thead .ant-table-row:first-child th {
        text-transform: normal;
      }
  
      tbody.ant-table-tbody td {
        text-align: center;
      }
  
      tbody.ant-table-tbody td:nth-child(odd) {
        background: rgb(247, 247, 247);
        text-align: center;
      }
  
      thead.ant-table-thead .ant-table-row:first-child th:nth-child(odd) {
        background: #001529;
        color: #fff;
      }
  
      thead.ant-table-thead .ant-table-row:first-child th:nth-child(even) {
        background: #001529;
        color: #fff;
      }
  
      thead.ant-table-tbody td:nth-child(even) {
        background: rgb(233, 27, 27);
        color: rgb(224, 45, 45);
      }
  
      thead.ant-table-thead .ant-table-row:nth-child(2) th{
        background: #001529;
        color: #fff;
      }

    }
  }
  