<nz-layout class="inner-layout">
    <nz-content class="inner-content">
      <section class="home-section">
        <div class="home-content">
          <div class="overview-boxes">
            <div class="box yelow">
              <div class="right-side">
                <div class="box-topic">Total étudiants en L1</div>
                <div class="number">{{ totalDas.L1| number }}</div>
                <div class="indicator">
                  <i class="bx bx-up-arrow-alt"></i>
                </div>
              </div>
            </div>
  
            <div class="box gris-black">
              <div class="right-side">
                <div class="box-topic">Total étudiants en L2</div>
                <div class="number">{{ totalDas.L2| number }}</div>
                <div class="indicator">
                  <i class="bx bx-up-arrow-alt"></i>
                </div>
              </div>
            </div>
  
            <div class="box cyan">
              <div class="right-side">
                <div class="box-topic">Total étudiants en L3</div>
                <div class="number">{{ totalDas.L3| number }}</div>
                <div class="indicator">
                  <i class="bx bx-up-arrow-alt"></i>
                </div>
              </div>
            </div>
  
            <div class="box orange">
              <div class="right-side">
                <div class="box-topic">Total étudiants en Master</div>
                <div class="number">{{ totalDas.M| number }}</div>
                <div class="indicator">
                  <i class="bx bx-down-arrow-alt down"></i>
                </div>
              </div>
            </div>
          </div>
  
          <div class="sales-boxes">
            <div class="recent-sales box">
              <div class="box orders">
                <div class="right-side">
                  <div class="box-topic">Licence</div>
                  <div class="number">{{ totalDas.L1 + totalDas.L2 + totalDas.L3| number }}</div>
                  <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                  </div>
                </div>
              </div>
              <div class="flex-wrapper">
                <div class="single-chart">
                  <svg viewBox="0 0 36 36" class="circular-chart orange">
                    <path
                      class="circle-bg"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path
                      class="circle"
                      id="passant_licence"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage">{{ percentLicencePassant }}%</text>
                  </svg>
                  <div class="title bas">Passant</div>
                </div>
  
                <div class="single-chart">
                  <svg viewBox="0 0 36 36" class="circular-chart green">
                    <path
                      class="circle-bg"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path
                      class="circle"
                      id="redoublant_licence"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage">{{ percentLicenceRedoublant }}%</text>
                  </svg>
                  <div class="title bas">Redoublant</div>
                </div>
  
                <div class="single-chart">
                  <svg viewBox="0 0 36 36" class="circular-chart blue">
                    <path
                      class="circle-bg"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path
                      class="circle"
                      id="triplant_licence"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage">{{ percentLicenceTriplant }}%</text>
                  </svg>
                  <div class="title bas">Triplant et plus</div>
                </div>
              </div>
  
            </div>
  
            <div class="recent-sales box">
              <div class="box suppliers">
                <div class="right-side">
                  <div class="box-topic">Master</div>
                  <div class="number">{{ totalDas.M }}</div>
                  <div class="indicator">
                    <i class="bx bx-up-arrow-alt"></i>
                  </div>
                </div>
              </div>
              <div class="flex-wrapper">
                <div class="single-chart">
                  <svg viewBox="0 0 36 36" class="circular-chart orange">
                    <path
                      class="circle-bg"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path
                      class="circle"
                      id="supplies-1-days"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage">
                      {{ percentLicencePassant }}%
                    </text>
                  </svg>
                  <div class="title bas">Passant</div>
                </div>
  
                <div class="single-chart">
                  <svg viewBox="0 0 36 36" class="circular-chart green">
                    <path
                      class="circle-bg"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path
                      class="circle"
                      id="supplies-7-days"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage">
                      {{ percentLicencePassant }}%
                    </text>
                  </svg>
                  <div class="title bas">Redoublant</div>
                </div>
  
                <div class="single-chart">
                  <svg viewBox="0 0 36 36" class="circular-chart blue">
                    <path
                      class="circle-bg"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path
                      class="circle"
                      id="supplies-30-days"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage">
                      {{ percentLicencePassant }}%
                    </text>
                  </svg>
                  <div class="title bas">Triplant et plus</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </nz-content>
  </nz-layout>
  