.inner-layout {
    min-height: 100%;
  
    .inner-content {
      min-height: 100%;
    }
  }
  
  .test-price {
    label {
      font-size: 14px;
      font-style: italic;
      font-weight: 500;
      color: #888;
    }
    span {
      margin-left: 8px;
      font-size: 14px;
    }
  }
  
  /* Presentational styles */
  /* Googlefont Poppins CDN Link */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .home-section .home-content {
    position: relative;
  }
  .home-content .overview-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
  }
  .overview-boxes .box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-transform: capitalize;
    width: calc(100% / 4 - 15px);
    background: linear-gradient(120deg, green 80%, #fff 20%);
    padding: 15px 14px;
    color: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .overview-boxes .blue {
    background: linear-gradient(120deg, #1890ff 80%, #fff 20%);
  }
  
  .overview-boxes .cyan {
    background: linear-gradient(120deg, #13c2c2 80%, #fff 20%);
  }
  .overview-boxes .orange {
    background: linear-gradient(120deg, #faad14 80%, #fff 20%);
  }
  .overview-boxes .gris-clair {
    background: linear-gradient(120deg, #8f8f8f 80%, #fff 20%);
  }
  .overview-boxes .gris-black {
    background: linear-gradient(120deg, #333333 80%, #fff 20%);
  }
  .overview-boxes .red {
    background: linear-gradient(120deg, #f5222d 80%, #fff 20%);
  }
  .overview-boxes .blue-black {
    background: linear-gradient(120deg, #192e87 80%, #fff 20%);
  }
  .overview-boxes .yelow {
    background: linear-gradient(120deg, #858719 80%, #fff 20%);
  }
  
  .overview-boxes .box-topic {
    font-size: 20px;
    font-weight: 500;
  }
  .home-content .box .number {
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
  }
  .box .rigth {
    height: 100%;
    color: red;
    background-color: #2bd47d;
  }
  .home-content .box .indicator {
    display: flex;
    align-items: center;
  }
  .home-content .box .indicator i {
    height: 20px;
    width: 20px;
    background: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
  }
  .box .indicator i.down {
    background: #e87d88;
  }
  .home-content .box .indicator .text {
    font-size: 12px;
  }
  .home-content .box .cart {
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: left;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
  }
  .home-content .box .cart.two {
    color: #2bd47d;
    background: #c0f2d8;
    position: relative;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .home-content .box .cart.three {
    color: #ffc233;
    background: #ffe8b3;
  }
  .home-content .box .cart.four {
    color: #e05260;
    background: #f7d4d7;
  }
  .home-content .total-order {
    font-size: 20px;
    font-weight: 500;
  }
  .home-content .sales-boxes {
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
  }
  
  /* left box */
  .home-content .sales-boxes .recent-sales {
    width: 65%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    .flex-wrapper {
      display: flex;
      flex-flow: row nowrap;
      margin-top: 20px;
    }
  
    .box-topic {
      font-size: 20px;
      font-weight: 500;
    }
    .box .number {
      display: inline-block;
      font-size: 35px;
      margin-top: -6px;
      font-weight: 500;
    }
  
    .orders,
    .suppliers {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      text-transform: capitalize;
      padding: 15px 14px;
      color: #000;
      border-radius: 12px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      background: linear-gradient(to right, #b8b5b5, #fff);
    }
  
    .single-chart {
      width: 33%;
      justify-content: space-around;
    }
  
    .circular-chart {
      display: block;
      margin: 10px auto;
      max-width: 80%;
      max-height: 250px;
    }
  
    .circle-bg {
      fill: none;
      stroke: #eee;
      stroke-width: 3.8;
    }
  
    .circle {
      fill: none;
      stroke-width: 2.8;
      stroke-linecap: round;
      animation: progress 1s ease-out forwards;
    }
  
    @keyframes progress {
      0% {
        stroke-dasharray: 0 100;
      }
    }
  
    .circular-chart.orange .circle {
      stroke: #faad14;
    }
  
    .circular-chart.green .circle {
      stroke: #13c2c2;
    }
  
    .circular-chart.blue .circle {
      stroke: #192e87;
    }
  
    .percentage {
      fill: #666;
      font-family: sans-serif;
      font-size: 0.5em;
      text-anchor: middle;
    }
  }
  .home-content .sales-boxes .sales-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sales-boxes .box .title {
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    /* margin-bottom: 10px; */
  }
  .sales-boxes .box .bas {
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    /* margin-bottom: 10px; */
  }
  .sales-boxes .sales-details li.topic {
    font-size: 20px;
    font-weight: 500;
  }
  .sales-boxes .sales-details li {
    list-style: none;
    margin: 8px 0;
  }
  .sales-boxes .sales-details li a {
    font-size: 18px;
    color: #333;
    font-size: 400;
    text-decoration: none;
  }
  .sales-boxes .box .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .sales-boxes .box .button a {
    color: #fff;
    background: #0a2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .sales-boxes .box .button a:hover {
    background: #0d3073;
  }
  
  /* Right box */
  .home-content .sales-boxes .top-sales {
    width: 35%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px 0 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    .title {
      border-radius: 5px;
      font-size: 22px;
      color: white;
      padding: 10px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      background: linear-gradient(to right, #333333, #13c2c2);
      margin-bottom: 20px;
    }
    .demo-infinite-container {
      height: 300px;
      border-radius: 4px;
    }
  
    nz-list {
      padding: 24px;
    }
  }
  /* Responsive Media Query */
  @media (max-width: 1240px) {
    .home-section {
      width: calc(100% - 60px);
      left: 60px;
    }
    .sidebar.active ~ .home-section {
      left: 220px;
      width: calc(100% - 220px);
      overflow: hidden;
    }
  }
  @media (max-width: 1150px) {
    .home-content .sales-boxes {
      flex-direction: column;
    }
    .home-content .sales-boxes .box {
      width: 100%;
      overflow-x: scroll;
      margin-bottom: 30px;
    }
    .home-content .sales-boxes .top-sales {
      margin: 0;
    }
  }
  @media (max-width: 1000px) {
    .overview-boxes .box {
      width: calc(100% / 2 - 15px);
      margin-bottom: 15px;
    }
  }
  @media (max-width: 700px) {
    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i {
      display: none;
    }
    .home-section nav .profile-details {
      height: 50px;
      min-width: 40px;
    }
    .home-content .sales-boxes .sales-details {
      width: 560px;
    }
  }
  @media (max-width: 550px) {
    .overview-boxes .box {
      width: 100%;
      margin-bottom: 15px;
    }
    .sidebar.active ~ .home-section nav .profile-details {
      display: none;
    }
  }
  @media (max-width: 400px) {
    .sidebar {
      width: 0;
    }
    .sidebar.active {
      width: 60px;
    }
    .home-section {
      width: 100%;
      left: 0;
    }
    .sidebar.active ~ .home-section {
      left: 60px;
      width: calc(100% - 60px);
    }
    .home-section nav {
      width: 100%;
      left: 0;
    }
    .sidebar.active ~ .home-section nav {
      left: 60px;
      width: calc(100% - 60px);
    }
  }
  
  .home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.5s ease;
  }
  